#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  
}

h1, h2, h3 {
  font-family: 'Lora', serif; 
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
  
}

h2, h3 {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
}


button {
  padding: 10px 15px;
  font-size: 1rem;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background-color: grey;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}

button:disabled {
  background-color: darkgrey;
  cursor: not-allowed;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}




.submitLine, .changeIndexLine, .shuffleLine {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1rem;
  width: 60%;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: lightblue;
}

input.correct {
  border-color: green;
}

input.wrong {
  border-color: red;
}